<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django CRUD application</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <span class="navbar-brand">Djando CRUD App</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              Home
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'tasks' %}" class="nav-link">
                Pending tasks
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'tasks_completed' %}" class="nav-link">
                Completed tasks
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'create_task' %}" class="nav-link">
                Create task
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">
                Logout
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'signup' %}" class="nav-link">
                Sign up
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'signin' %}" class="nav-link">
                Sign in
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
</body>
</html>